.leaderboard {
    width: 100%;

    .score {
        height: 50px;
        width: 100%;
        text-align: center;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin:auto;
        box-shadow: 1px 1px 5px black;
        background-color: white;

        h3 {
            font-size: 30px;
            margin: 10px;
            flex:1;
        }

        .points{
            width: 40%;
            margin-left: auto;
            margin-right: 20px;
        }
        .outer {
            height: 20px;
            .inner {
                height: 100%;
                color:white;
                font-weight: 600;
            }
        }
    }
}
